/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tap_dance: tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&kp HOME>, <&kp END>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape_combo {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E         &kp R  &kp T        &kp Y    &kp U  &kp I          &kp O       &kp P      &kp BSPC
&kp LSHFT  &kp A  &kp S  &kp D         &kp F  &kp G        &kp H    &kp J  &kp K          &kp L       &kp SEMI   &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C         &kp V  &kp B        &kp N    &kp M  &kp COMMA      &kp PERIOD  &kp SLASH  &kp RCTRL
                         &kp LEFT_ALT  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RIGHT_GUI
            >;
        };

        lower_layer {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp F1        &kp F2        &kp F3            &kp F4    &kp F11              &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp INSERT       &kp HOME    &kp BSPC
&kp LSHFT  &bt BT_SEL 0  &bt BT_SEL 1  &kp LS(LC(LEFT))  &kp UP    &kp LS(LC(RIGHT))    &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PRINTSCREEN  &kp END     &kp PLUS
&kp LCTRL  &trans        &trans        &kp LEFT          &kp DOWN  &kp RIGHT            &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0           &kp PERIOD  &kp MINUS
                                       &kp LGUI          &trans    &kp SPACE            &kp RET       &trans        &kp RALT
            >;
        };

        raise_layer {
            display-name = "Raise Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | SHFT |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | CTRL |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE  &kp EXCL    &kp AT  &kp HASH      &kp DLLR          &kp PRCNT        &kp CARET  &kp AMPS          &kp ASTRK          &kp LPAR   &kp RPAR  &kp DELETE
&kp LSHFT   &tap_dance  &trans  &trans        &kp LS(UP_ARROW)  &trans           &kp MINUS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp EQUAL  &kp BSLH  &kp HOME
&kp LCTRL   &trans      &trans  &kp LS(LEFT)  &kp LS(DOWN)      &kp LS(RIGHT)    &kp GRAVE  &kp LESS_THAN     &kp GREATER_THAN   &kp TILDE  &kp PIPE  &kp END
                                &kp LGUI      &trans            &kp SPACE        &kp RET    &trans            &kp RALT
            >;
        };
    };
};
